@font-face {
  font-family: GothamRndLight;
  src: url(fonts/GothamRnd-Light.otf);
}

@font-face {
  font-family: GothamRndMedium;
  src: url(fonts/GothamRnd-Medium.otf);
}

/* Not used for now:
@font-face {
  font-family: GothamRndBold;
  src: url(fonts/GothamRnd-Bold.otf);
}
*/

html {
    font-family: GothamRndLight, sans-serif;
}

body {
    background-color: #CAE2E9;
    color: #18222E;
    margin: 0;
}

a {
    color: #18222E;
}


footer {
    background-color: #18222E;
    color: #CAE2E9;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

footer span {
    position: relative;
    top: -0.75em;
}

footer a {
    color: #CAE2E9;
}

h1 {
    font-family: GothamRndMedium;
    font-size: 42px;
    margin: 0;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-family: GothamRndMedium;
}

h3 {
    font-family: GothamRndMedium;
    margin: 0.1em;
}

label {
    font-weight: bold;
}

/* input [type=text] doesnt work in AppImage?! */
input.typetext {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #a7c3ca;
    font-family: GothamRndLight;
    transition: border 0.4s ease-in-out;
    width: 70%;
}

input:focus{
    border:none;
    outline:none;
    border-bottom:2px solid #fff;
}

.main-content {
    display: none; /* by default, main-content is not visible until enable by the javascript menu - except content0 (see below) */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 21em;
    padding: 2em 2em 0 2em;
}
#content0 {
    display: flex; /* content0 is the first menu item and visible by default */
}

#content5 {
    text-align: center;
}

.column {
    box-sizing: border-box;
    flex: 1;
    position: relative;
}

#column1, #column2 {
    padding: 2em;
}

/* header has: logo (25%) - menu (50%) - builtwith (20%) */
header {
    background-color: #18222E;
    color: #fff;
    text-align: left;
    padding: 0 0 0.5em 0;
}

header .logo {
    margin: 1em;
    width: 25%;
}

.menu {
    display: inline-block;
    position: relative;
    top: -1em;
    width: 50%;
}

.menuitem {
    display: inline-block;
    text-align: center;
    width: 23.75%; /* (100% - 5% margin) / 4 items */
}

.menuitem a {
    color: #CAE2E9;
    font-weight: bold;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

.menuitem a:hover {
    color: #fff;
    transition: all 0.2s linear;
}

.builtwith {
    display: inline-block;
    position: relative;
    top: -1em;
    text-align: right;
    width: 20%;
}

#column1 {
    border-right: solid;
}

#pubkey {
    margin-bottom: 1em;
}

#serverhelptext {
    font-size: 14px;
    margin-bottom: 1em;
}

#serverstatus, #clientstatus {
	background-color: #fff;
	border: solid 1px;
	padding: 1em;
	position: absolute;
	bottom: 1em;
	right: 1em;
	left: 1em;
}

.connectcontainer {
    text-align: center;
}

.bigbutton {
    display: inline-block;
    padding: 1.2em;
    background-color: #18222E;
    color: #CAE2E9;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    margin: 1em 0;
}

.connectbutton {
    float: none;
}

.bigbutton:hover {
    background-color: #000;
    transition: all 0.2s linear;
}

.feature {
    border-left: solid 2px #18222E;
    display: inline-flex;
    margin: 1em 0 1em 1em;
    padding: 1em 0 0 2em;
}

.feature:hover {
    box-shadow: 0 0 30px #18222e;
    border-radius: 0 1em 1em 0;
    transition: all 0.2s linear;
}

.feature img.qrcode {
    width: 6em;
}

img.featureheadericon {
    float: left;
    padding-right: 0.75em;
    width: 1.3em;
}

img.headericon {
    margin-bottom: 1em;
}

.featuredetail {
    margin-left: 0.8em;
}


.pearslogo {
    position: relative;
    width: 2em;
    top: 0.6em;
}

.contactticketform {
    border:none;
}

.coverremotecontrol {
    display: none;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 40%;
    background-color: #333333b3;
    left: 0;
}

.bigbutton.downloadbutton {
    border-radius: 35px;
    font-size: 32px;
    font-weight: bold;
    height: 4em;
    left: 15%;
    top: 20%;
    width: 70%;
    position: relative;
}
.bigbutton.downloadbutton:hover {
    background-color: #000000;
    box-shadow: 0 0 30px #18222E;
}
.downloadbutton div {
    padding-top: 1.4em;
}

.copyicon {
    transition: all 0.2s linear;
    /* width: 1.7em; this is set in the html to avoid a flash of huge logo */
    position: relative;
    top: 0.5em;
    left: 0.3em;
}
.copyicon:hover {
    /* transform: scale(1.3); */
    background-color: #ffffff7d;
    filter: invert(1);
}

.threecolumns {
    font-size: 15px;
    float: left;
    padding: 1em;
    width: 30%;
}

.threecolumns div {
    padding: 0.5em 1em 0em 1em;
    text-align: left;
}

#content0 {
    padding: 0;
}

#content4 {
    height: 35em;
    overflow-y: hidden;
    padding: 2em 2em 0 2em;
}

#content4 .column1 {
    margin-left: 10%;
}

#content6 img.laptop {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 55%;
}
#content4 img.donate {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 35%;
}

.twocolumns {
    width: 40%;
}
